#header {
  background: #5A7F40;
  padding: 1rem;
}

#header > h1 {
  text-align: center;
  color: #DBAF36;
}

#menu{
  display:flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}

#detail>*{
  display:flex;
  flex-direction: column;
}

.buttons{
  background-color: white;
}